[core]
	editor = nano
	autocrlf = input
	excludesfile = ~/.gitignore
[user]
	name = Lucas Krause
	email = dev@futape.de
[color]
	ui = true
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pull/*
